* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f4f7;
    font-family: Helvetica, Arial, sans-serif;
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    min-height: 100vh;
}

.title {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-bottom: 3rem;
}

.title img#desktop {
    width: 320px;
}

.title img#mobile {
    display: none;
}

.title p {
    font-size: 28px;
    color: #000;
    font-weight: 500;
    margin-top: 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    width: 400px;
    padding-block: 20px;
    background-color: #FFF;
    box-shadow: 0 0 4px 0 black;
    border-radius: 5px;
}

.login-form form input {
    width: 90%;
    height: 45px;
    font-size: 1.10rem;
    padding: 10px;
    border-radius: 5px;
    border-color: #bfc1c7d4;
    outline: none;
}

.login-form form input#Login { /* Login button */
    background-color: #0866FF;
    color: #FFF;
    font-weight: bold;
    border: none;
}

.login-form form input#Login:hover {
    background-color: #2075FD;
    cursor: pointer;
}

.login-form form p {
    color: #1f7eff;
    font-weight: 400;
}

.login-form form p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-form form button#Create_Account  { /* Create account button */
    background-color: #42b72a;
    color: #FFF;
    font-weight: bold;
    border: none;
    padding: 15px;
    font-size: 1.15rem;
    border-radius: 5px;
}

.login-form form button#Create_Account:hover {
    background-color: #4fc038;
    cursor: pointer;
}

.login-form h6 {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 500;
}

.login-form h6 span {
    font-weight: 700;
    cursor: pointer;
}

.login-form h6 span:hover {
    text-decoration: underline;
}

@media screen and (max-width: 872px) {
    .content {
        flex-direction: column;
        justify-content: center;
        overflow: auto;
    }
    .title {
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
    }
    .title img#desktop {
        display: none;
    }
    .title img#mobile {
        display: block;
        width: 150px;
    }
    .title p {
        display: none;
    }
    .login-form form {
        width: 100vw;
        padding-block: 0;
        background-color: transparent;
        box-shadow: 0 0 0 black;
        border-radius: 0;
    }
    .login-form form input {
        width: 95%;
        height: 60px;
        font-size: 1.5rem;
        padding: 15px;
        border-radius: 12px;
    }
    .login-form form input[type="button"] {
        border-radius: 30px;
        font-weight: normal;
    }
    .login-form p {
        font-size: 1.3rem;
    }
    .login-form form button#Create_Account {
        font-size: 1.5rem;
        padding: 20px;
    }
    .login-form h6 {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        margin-top: 0;
        margin-bottom: 3rem;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 480px) {
    .title {
        position: static;
    }
}
